body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    height: 98vh;
    width: 35%;
    margin: auto;
    border-width: 3px 10px 12px 0;
    border-style: solid;
    border-color: #b1aeae;
    background: radial-gradient(at right top, #2A6173, #AEC3CD);
    position: relative;
}

#encabezado{
    color: white;
    padding: 10% 0% 10% 45%;
}

#encabezado>h1{
    front-size: 1.5em;
    margin: 2px;
}

#encabezado>h2{
    front-size: 1.1em;
    margin: 2px;
    font-weight: lighter;
}
#contenido{
    min-height: 72vh;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 50px 0;
}

#columna{
    position: absolute;
    top: 0;
    left: 5%;
    background-color: #283D3D;
    width: 35%;
    height: 100%;
}

.circulo{
    width: 7%;
    height: 4%;
    background-color: #354444;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 36px;
}

#c-1{
    width: 7%;
    height: 4%;
    background-color: #354444;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 36px
}

#c-2{
    width: 13%;
    height: 8%;
    background-color: #354444;
    border-radius: 50%;
    position: absolute;
    top: 146px;
    left: 171px;
}

#c-3{
    width: 24%;
    height: 16%;
    background-color: #bec4c498;
    border-radius: 50%;
    position: absolute;
    top: 777px;
    left: 497px;
}

#c-4{
    width: 3%;
    height: 1.5%;
    background-color: #bec4c498;
    border-radius: 50%;
    position: absolute;
    top: 794px;
    left: 644px;
}

#columna>img{
    width: 85%;
    margin-left: 8%;
    border-radius: 50%;
    z-index: 10;
    position: relative;
    top: 0.5%;
}

.caja-contenido{
    margin: 5px 5px 5px 45%;
    z-index: 10;
    position: relative;
}

.titulo-caja{
    background: radial-gradient(at right top, #2A6173, #AEC3CD);
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #283D3D;
    padding: 8px;
    border-radius: 20px;
}

.caja-contenido>h4{
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px;
}

.caja-contenido>p{
    font-size: 0.9em;
    margin: 5px;

}

.columna-contenido{
    margin-bottom: 15px;
}
.col-titulo{
    font-size: 0.9em;
    margin: 3px;
    background: linear-gradient(94deg, rgb(98, 117, 126) 2%, rgb(49, 97, 114) 83%);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.col-linea{
    width: 100%;
    padding: 5px;
    display: flex;
    gap: 10px;
    color: white;
}

.col-linea>h6, .col-linea>h5{
    font-size: 0.7em;
    display: inline-block;
    margin: 0 0 2px 0;
    font-weight: lighter;
    color: white;
}

.col-linea>h6{
    width: 50%;
}

.barra{
    width: 70%;
    display: flex;
    gap: 2px;
}

.b-item{
    display: inline-block;
    width: 15%;
    height: 10px;
}

.b-1{
    background-color: #4D5555;
}

.b-2{
    background-color: #518d7d;
}

.b-3{
    background-color: #7fc129;
}

.b-4{
    background-color: #bbc827;
}

.b-5{
    background-color: #e1290b;
}

.linea-icons{
    width: 100%;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    margin-left: 5px;   
}

.icon{
    width: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
}

.yu{
    margin-top: 0.9rem;
}

